logs
*.log
npm-debug.log*

node_modules
.npm
.node_repl_history
### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
dist/
.tmp/
.settings/
.vscode/